[Unit]
Description=Trigger actions when the system-wide color scheme preference changes
After=gnome-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/dtintanum

[Install]
WantedBy=gnome-session.target
